/*---------Обнуление-----------*/
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  width: 100%;
  font-size: 18px;
  line-height: 1.5;
  color: #1D1D1D;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
input {
  border: none;
  background: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*---------Основные стили-----------*/
body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: #848484;
}

.container {
  max-width: 960px;
  margin: 25px auto;
}

.header {
  color: #ffffff;

  .row {
    display: flex;
    height: 100%;
    gap: 22px;
  }

  .row  > * {
    min-height: 108px;
    background-color: #777777;
  }

  &__logo {
    flex: 1 0 12.7%;
  }

  .logo__link {
    display: flex;
    margin-top: 39px;
    margin-bottom: 39px;
    justify-content: center;
  }

  &__block {
    flex: 1 1 29.1%;
  }

  &__content {
    flex: 1 1 53.5%;
    display: flex;
    align-items: center;

    .contacts {
      text-align: right;
      margin-left: auto;
      margin-right: 22px;
    }

    .contacts__elem:not(:first-child) .contacts__link {
      text-decoration: underline;
    }
  }
}

.page__content {
  display: flex;
  padding: 25px 0;
  border-top: 2px solid #a4a4a4;
  border-bottom: 2px solid #a4a4a4;
  gap: 20px;
}

.aside {
  flex: 1 1 19.1%;
  background-color: #777777;
  margin-bottom: auto;
  padding: 20px 13px 40px;
  color: #ffffff;

  &__content {
    max-width: 146px;
  }
}

.main {
  flex: 1 1 78.7%;
  display: flex;
  flex-direction: column;
  gap: 18px;

  &__description {
    background-color: #dcdcdc;
  }

  .description__content {
    margin: 20px;
  }

  .description__title {
    font-weight: bold;
  }

  .description__list {
    margin-top: 18px;
    margin-left: 40px;
  }

  .description__item {
    list-style-type: disc;
  }

  .description__subtitle {
    margin-top: 18px;
  }

  .content__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .content__card {
    display: flex;
    min-width: 135px;
    flex-direction: column;
    min-height: 152px;
    background-color: #dcdcdc;
  }

  .content__text {
    margin: 5px;
    width: 100%;
  }

  &__bottom {
    display: flex;
    gap: 20px;
  }

  .bottom__block {
    flex: 1 1 50%;
    padding: 23px 19px;
    min-height: 200px;
    background-color: #dcdcdc;
  }
}
